 body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    font-size:  60px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    
}


#header{
    position: relative;
    background-color: rgb(24, 106, 199);
    background-image: url(./Img/pattern.png);
    background-size: auto;
    height: 150px ;    
    
}

#Logo{
    height: 50px;
    position: relative;
    left: 0px;;
    top: 60px;
    height: 100px;
        
}


#autore{
    background-color: transparent;
    color: aqua;
}

.lightgray {
    color: rgb(112, 112, 112);
    margin: 0;
    padding: 0;
    margin-left: 10px;
    
}


ul{
    padding-left: 30px;
}

.small{
    margin: 0;
    padding-left : 10px;
    font-size: 12px;
    font-weight: 400;
}

table, td, th, tr {
    border-spacing: 0;
    padding-left: 10px;
  }


.color{
    background-color: rgba(28, 208, 221, 0.486);
}

thead{
    background-color: rgb(0, 153, 255);
}

.bot{
    padding-bottom: 20px;
}


#foto{
    background-image: url(./Img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;  
}

#foto2{
    background-image: url(./Img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

h2{
    color: white;
    padding-left: 15px;
    padding-top: 1px;
}

section, footer{
    padding-left: 10px;
}
