/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

h1{
    font-size:  60px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    
}


#header{
    position: relative;
    background-color: rgb(24, 106, 199);
    background-image: url(./Img/pattern.png);
    background-size: auto;
    height: 150px ;


}

#Logo{
    height: 50px;
    position: relative;
    left: 0px;;
    top: 50px;
    height: 100px;

}

#autore{
    background-color: transparent;
    color: aqua;
}

.lightgray {
    color: rgb(112, 112, 112);
    margin: 0;
    padding: 0;
    
}

.small{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
}



tbody{
    background-color: rgba(28, 221, 221, 0.486);
}

thead{
    background-color: rgb(0, 153, 255);
}

.bot{
    padding-bottom: 20px;
}




.over{
    position: absolute;
    color: rgb(235, 211, 1);
}
